body {
    background-color: rgb(211, 42, 42);
}

.wrapper {
    width: 400px;
    /* border: 2px solid black; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 100%;
    background-color: rgb(211, 42, 42);
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(15, 2, 3, 0.5);
    position: relative;
    border-radius: 8px;
    text-align: center;
}

.container :after {
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: white;
    z-index: -1;
    top: -10%;
    left: 10%;
}

.container p {
    color: #fdd8fd;
    line-height: 2;
    font-size: 18px;
}

.container h3 {
    color: #ffffff;
    max-width: 20px 0 60px 0;
    font-weight: 600;

}

.container button {
    background-color: white;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(211, 42, 42);
}

h1 {
    color: black;
    font-size: 4rem;
    width: 18rem;
    height: 140px;
    text-align: justify;
    margin: 70px 90px;
 
}


